*{
margin:0px;
padding:0px;
}
nav{
background:#540E12 ;
}
li{
text-align:center;
margin:5px;
}
#ul1 li a:hover{
color:#540E12  !important;
background:#ECB084;
border-radius:20px;
}
#cap button{
border:none;
}
#cap button:hover{
background:green;
}
.foot1{
background:#540E12;
line-height:60px;
 color:#ECB084;
}
.img1{
padding-top:10px;
padding-left:20px;
}
.img1 img{
margin-top:10px;
}
.img1 p{
padding-top:10px;
text-align:justify;
}
#enquiry{
border:2px solid white; 
height:40px;
width:130px; 
background:black; 
color:white; 
margin-left:80px;
font-family:verdana;
}
#enquiry:hover{
background:white;
color:black;
}
#car2{
height:300px;
}
#carousel-inner{
width:50%;
height:100%;
}
#carousel-item{
width:65%;
color:white;
text-align:justify;
top:60px;
left:60px;
padding:20px;
}
#carousel-indicators{
width:30%;
text-align:center;
}
  
#contact input{
width:400px;
margin:0 10 20 10;
}
#contact label{
font-size:16px;
font-weight:bold;
font-family:verdana;
margin:10px;
color:#540E12;
}
#contact textarea{
margin:10 10 10 10;
}
#contact button{
width:100px;
height:50px;
padding:5px;
background:#540E12;
color:white;
border:none;
border-radius:20px;
margin:20 20 50 20;
}
#price h2{
background:#540E12;
color:#ECB084;
}
#price p{
padding:10 10 0 10;
font-family:verdana;
}
#price i{
padding:5px;
}
figure img{
height:300px;
width:240px;
margin:10px;
}
figure img:hover{
-webkit-transform:scaleX(1.2);
transform:scaleX(1.2);
padding-left:10px;
padding-right:10px;
}
#ourservices img:hover{
-webkit-transform:scaleX(-1);
transform:scaleX(-1);
}
.accordion img:hover{
-webkit-transform:scaleX(-1);
transform:scaleX(-1);
}
.service a{
text-decoration:none;
color:white;
}
.service a:hover{
color:#ECB084;
}

/* for reviews media query */
@media only screen and (max-width:768px) {
	
  #car2{
  width:90%;
  height:300px;
  }
  #carousel-inner{
  width:100%;
  height:100%;
  }
  #carousel-item{
  width:75%;
  color:white;
  text-align:justify;
  padding:10px;
  }
  #carousel-indicators{
  width:70%;
  }
  }
  
  @media only screen and (max-width:560px) {
	
  #car2{
  width:90%;
  height:300px;
  }
  #carousel-inner{
  width:100%;
  height:100%;
  }
  #carousel-item{
  width:75%;
  color:white;
  text-align:justify;
  padding:10px;
  }
  #carousel-indicators{
  width:70%;
  }
  }
  
  /* for reviews media query */
  @media only screen and (max-width:768px) {
    .imgleft{
      width: 99%;
    }
  }

  @media only screen and (max-width:450px) {
    .imgleft{
      width: 99%;
    }
    #car2{
    width:90%;
    height:350px;
    }
    #carousel-inner{
    width:100%;
    height:100%;
    }
    #carousel-item{
    width:75%;
    color:white;
    text-align:justify;
    }
    #carousel-indicators{
    width:70%;
    }
    }
  
  
/* for our services media query */
@media only screen and (max-width:768px){
  #mainserv{
  top:150px !important;
  left:18px !important;
  width:90%;
  padding:10px;
  margin:15px;;
  }
  .mainS img{
  width:100% !important;
  height:450px;
  }
  figure img{
      margin:10 60 10 60;
    }
  }
  
@media only screen and (max-width:560px){
#mainserv{
top:150px !important;
left:5px !important;
width:90%;
padding:10px;
margin:15px;;
}
.mainS img{
width:450px !important;
height:450px;
}
}

/* for our services and gallery images media query mobile */
  @media only screen and (max-width:450px){
    figure img{
      margin:10 60 10 70;
    }
    #mainserv{
    top:80px !important;
    left:5px !important;
    width:90%;
    padding:10px;
    margin:15px;;
    }
    .mainS img{
    width:450px !important;
    height:450px;
    }
    }
    
    
  
/* for project completed media query  */
@media only screen and (max-width:768px){
  
  .pro{
  margin:80 25 50 65 !important;
  }
  }
  
  /* for book order contact us */
  @media only screen and (max-width:560px){
  #book{
  top:150px !important;
  left:50px !important;
  }
  }
  
  @media only screen and (max-width:560px){
.projects{
background:url(img/pro.jpg) !important;
background-size:cover !important;
width:100% !important;
}
.pro{
margin:80 40 50 80 !important;
}
}

/* for book order contact us */
@media only screen and (max-width:560px){
#book{
top:150px !important;
left:50px !important;
}
}


/* for book order contact us form for mobile */
  @media screen and (max-width:450px){
    #contact input{
       width:90%;
    }
    }
  
/*for search box*/

.togglesearch{
  background: white;
  position: absolute;
  top: 88px;
  right: 8%;
  width: 500px;
  height: 80px;
  line-height: 80px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  border-top:4px solid #ECB084;
  display: none;
}

.togglesearch:before{
  position: absolute;
  top: -30px;
  right:-20px;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 14px solid transparent;
  border-bottom: 14px solid #D80B15;
}

.togglesearch input[type="text"]{
  width: 350px;
  height:58%;
  padding: 5px 10px;
  margin-left: 23px;
  border: 2px solid #540E12;
  outline: none;
}

.togglesearch input[type="button"]{
  width: 80px;
  height:60%;
  line-height:50%;
  padding: 5px 0;
  background: #540E12;
  color: #ECB084;
  font-size:16px;
  margin-left:6px;
  border:none;
  outline: none;
  cursor: pointer;
}
